In [8]:
names=['jeff','bill','steve','mohan']
print(names)
names.insert(0,'argia')
print(names)
names.append('builks')
print(names)
print(names[-1])
print(names[:2])

['jeff', 'bill', 'steve', 'mohan']
['argia', 'jeff', 'bill', 'steve', 'mohan']
['argia', 'jeff', 'bill', 'steve', 'mohan', 'builks']
builks
['argia', 'jeff']

In [13]:
names.pop(-1)
print(names)
print(names[1:3])
names2=names.copy()
print(names2)

['argia']
[]
['argia']

In [24]:
names2.count('var')

cities=['dhaka','barisal','farmgate','paris','newyour', 'mumbai','barisal']
cities2=cities.copy()
print(cities)
print(cities2)
cities.append('cadpur')
cities.insert(0,'lahor')
print(cities)
print(cities2)
cities2.clear()
print(cities2)

['dhaka', 'barisal', 'farmgate', 'paris', 'newyour', 'mumbai']
['dhaka', 'barisal', 'farmgate', 'paris', 'newyour', 'mumbai']
['lahor', 'dhaka', 'barisal', 'farmgate', 'paris', 'newyour', 'mumbai', 'cadpur']
['dhaka', 'barisal', 'farmgate', 'paris', 'newyour', 'mumbai']
[]

In [26]:
cities.count('barisal')

1

In [38]:
cities3=['chaina','srilanka','London','singappure','Australia']
cities.extend(cities3)
print(cities)
print(cities.index('Australia'))
cities3.reverse()
print(cities3)
print(cities3.sort())

['lahor', 'dhaka', 'barisal', 'farmgate', 'paris', 'newyour', 'mumbai', 'cadpur', 'chaina', 'srilanka', 'London', 'singappure', 'Australia', 'chaina', 'srilanka', 'London', 'singappure', 'Australia', 'chaina', 'srilanka', 'London', 'singappure', 'Australia', 'chaina', 'srilanka', 'London', 'singappure', 'Australia', 'chaina', 'srilanka', 'London', 'singappure', 'Australia', 'chaina', 'srilanka', 'London', 'singappure', 'Australia', 'chaina', 'srilanka', 'London', 'singappure', 'Australia', 'chaina', 'srilanka', 'London', 'singappure', 'Australia', 'chaina', 'srilanka', 'London', 'singappure', 'Australia', 'chaina', 'srilanka', 'London', 'singappure', 'Australia', 'chaina', 'srilanka', 'London', 'singappure', 'Australia']
12
['Australia', 'singappure', 'London', 'srilanka', 'chaina']
None

In [42]:
cities = ['Mumbai', 'London', 'Paris', 'New York']
cities.sort()
print(cities)
cities.sort(reverse=True)
print('List in Descending Order: ', cities)

['London', 'Mumbai', 'New York', 'Paris']
List in Descending Order:  ['Paris', 'New York', 'Mumbai', 'London']

In [ ]:
#python Tuples-----------------------------------

In [52]:
tuple1=('jeff','bill','steve','yash')
print(tuple1)
tuple2=(1,2,3,'jaff','nar')
print(tuple2)
tuple3=('sadit',)
print(tuple3)
print(tuple1[-2])
list1=[1,2,3,4]
tuple4=tuple(list1)
print(tuple4)
print(tuple1+tuple2)
'jeff' in tuple1
'jeff' not in tuple1

('jeff', 'bill', 'steve', 'yash')
(1, 2, 3, 'jaff', 'nar')
('sadit',)
steve
(1, 2, 3, 4)
('jeff', 'bill', 'steve', 'yash', 1, 2, 3, 'jaff', 'nar')

False

In [ ]:
#set-----------------------------

In [64]:
set1={2,4,6,8,10,12,14,16,18,20}
print(set1)
set2=set()
set2.add(10)
print(set2)
set1.remove(2)
print(set1)
s1={'may','june','july'}
s2={'january','february','march','april'}
s3={'june','july','august'}
s2.union(s1)
s1.intersection()
s2.difference(s3)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}
{10}
{4, 6, 8, 10, 12, 14, 16, 18, 20}

{'april', 'february', 'january', 'march'}

In [80]:
s1={'may','june','july'}
s4=s1.copy()
s2={'january','february','march','april'}
s1.add('january')
s1.clear()
print(s1)
print(s4)


nums1 = {1, 2, 2, 3, 4, 5}
nums2 = {4, 5, 6, 7, 8, 8}

print(nums1.difference(nums2))


nums1.difference_update(nums2)
print(nums1)
print(nums2)

set()
{'may', 'june', 'july'}
{1, 2, 3}
{1, 2, 3}
{4, 5, 6, 7, 8}
{1, 2, 3}

In [84]:

nums1 = {1, 2, 2, 3, 4, 5}
nums1.discard(5)
print(nums1)

{1, 2, 3, 4}

In [89]:
cities = {'Mumbai','Chicago','Ohio','New York'}
othercities = {'Ohio','New York','Mumbai','Chicago','Seattle','Philadelphia'}
cities.intersection_update(othercities)
print(cities)
print(othercities)

{'Ohio', 'Mumbai', 'Chicago', 'New York'}
{'Ohio', 'Philadelphia', 'Seattle', 'Mumbai', 'Chicago', 'New York'}

In [92]:
nums1 = {1, 2, 2, 3, 4, 5}
nums2 = {4, 5, 6, 7, 8, 8}
nums1.intersection(nums2)
print(nums1.isdisjoint(nums2))
print(nums1.isdisjoint(nums2))
print(nums1.issubset(nums2))

False
False
False

In [102]:
char_set = {'a','b','c'}
char_list = ['a','b','c','d']
print(char_set.issubset(char_list))
char_set.pop()
print(char_set)
char=char_set.union(char_list)
print(char)

True
{'c', 'b'}
{'a', 'c', 'b', 'd'}

In [ ]:
#Dictionary-------------------------------

In [103]:
capitals={"Bangladesh":"dhaka","France":"paris","India":"new delhi"}
print(capitals)

{'Bangladesh': 'dhaka', 'France': 'paris', 'India': 'new delhi'}

In [120]:
items={("parker","reynolds","camlin"):"pen",("lg","whirlpool","samsung"):"Refrigerator"}

print(items)

{('parker', 'reynolds', 'camlin'): 'pen', ('lg', 'whirlpool', 'samsung'): 'Refrigerator'}

In [124]:
dict2={}
dict2['test']='ok'
dict2['test2']='hi'
dict2['test3']='hello'
print(dict2)

{'test': 'ok', 'test2': 'hi', 'test3': 'hello'}

In [127]:
capitals={"Bangladesh":"dhaka","France":"paris","India":"new delhi"}
print(capitals.get("Bangladesh"))

dhaka

In [128]:
capitals["Bangladesh"]="BNG"
print(capitals)

{'Bangladesh': 'BNG', 'France': 'paris', 'India': 'new delhi'}

In [129]:
for x in capitals.values():
    print(x)

BNG
paris
new delhi

In [130]:
for x in capitals.keys():
    print(x)

Bangladesh
France
India

In [131]:
for k,v in capitals.items():
    print(k,v)

Bangladesh BNG
France paris
India new delhi

In [132]:
print( 'paris' in capitals.values())

True

In [134]:
print('BNG' in capitals.keys())

False

In [136]:
capitals.clear()
print(capitals)

{}

In [144]:
alphabets = {'a', 'b', 'c'}
number = 1,2,3
dictionary=dict.fromkeys(alphabets,number)
print(dictionary)

{'a': (1, 2, 3), 'c': (1, 2, 3), 'b': (1, 2, 3)}

In [146]:
marks = {'Physics':67, 'Maths':87}
print(marks.get('Physics'))

67

In [148]:
marks = {'Physics':67, 'Maths':87}
print(marks.items())

dict_items([('Physics', 67), ('Maths', 87)])

In [183]:
person = {'name': 'Phill', 'age': 22, 'salary': 3500.0}
result=person.popitem()
print(result)
print(person)

('salary', 3500.0)
{'name': 'Phill', 'age': 22}

In [186]:
person = {'name': 'Phill', 'age': 22, 'salary': 3500.0}
salary=person.setdefault('office')
print(person)
print(salary)

{'name': 'Phill', 'age': 22, 'salary': 3500.0, 'office': None}
None

In [188]:
marks = { 'Physics': 67, 'Chemistry': 72, 'Math': 89 }
element=marks.pop('Chemistry')
print(element)
print(marks)

72
{'Physics': 67, 'Math': 89}

In [189]:
element=marks.popitem()
print(marks)

{'Physics': 67}

In [190]:
marks = {'Physics':67, 'Maths':87}
internal_marks = {'Practical':48}
marks.update(internal_marks)
print(marks)

{'Physics': 67, 'Maths': 87, 'Practical': 48}

In [196]:
import array as arr
numbers_list = [2, 5, 62, 5, 42, 52, 48, 5]
numbers_array = arr.array('i', numbers_list)
print(numbers_array[2:5])

array('i', [62, 5, 42])

In [200]:
import array as arr
numbers= arr.array('i',[1,2,3,5,7,10])
print(numbers)
numbers[2:5]=arr.array('i',[4,6,8])
print(numbers)

array('i', [1, 2, 3, 5, 7, 10])
array('i', [1, 2, 4, 6, 8, 10])

In [201]:
import array as arr
numbers = arr.array('i',[1,2,3])
numbers.append(4)
print(numbers)

array('i', [1, 2, 3, 4])

In [202]:
import array as arr
odd= arr.array('i',[1,3,5])
even=arr.array('i',[2,4,6])
combine=odd+even
print(combine)

array('i', [1, 3, 5, 2, 4, 6])

In [8]:
import array as arr
ar1=arr.array('i',[1,2,3,5,10])
ar1[0]=11
ar1.append(8)
ar1
del ar1[-1]
ar1.reverse()
ar1.sort()
ar1

AttributeError: 'array.array' object has no attribute 'sort'

In [ ]:
#data frame.....................

In [209]:
import pandas as pd
lst = ['Geeks', 'For', 'Geeks', 'is', 
            'portal', 'for', 'Geeks']
df = pd.DataFrame(lst)
print(df)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [210]:
import pandas as pd
data={'Name':['Tom','nick','krish','jack'],'Age':[20,21,19,18]}
df=pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

In [213]:
import pandas as pd
data={'Name':['jai','princi','gaurav','anuj'], 'Age':[27,24,22,32],'Qualification':['MSC','MA','MCA','PHD']}
df=pd.DataFrame(data)
print(df)

     Name  Age Qualification
0     jai   27           MSC
1  princi   24            MA
2  gaurav   22           MCA
3    anuj   32           PHD

In [214]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []